*{
	margin: 0px;
	padding: 0px;
    font-family: 'Roboto Condensed', sans-serif;
}

html {
	visibility: hidden;
}

body {
	background-color: #F2F2F2
}

/*Start Navbar*/
.navbar {background-color: #3887db}
.navbar .navbar-brand {
    font-weight: bold;
    font-size: 20px;
    margin-right: 5px;
    cursor: default;
    color: white
}

.navbar .navbar-brand img {
    width: 50px;
	height: 60px;
	margin-left: 20px;
    margin-top: 5px;
    cursor: pointer
}

.navbar .navbar-nav {width: 100%}
.navbar .nav-item {width: 15.5%}
.navbar .nav-item:nth-of-type(4) {width: 19.5%}
.navbar .nav-item:nth-of-type(5) {width: 18.5%}
.navbar .nav-item a:hover {
    color: #c2daf2 !important
}
.navbar .nav-item .nav-link {
    font-size: 20px;
    font-weight: 600;
    color: white
}
.dropdown .dropdown-menu {background-color: #3887db}
.dropdown .dropdown-item.active {background-color: #3887db}
.dropdown-item {color: white}
.navbar .nav-item .nav-link.active {
    color: #c2daf2 !important
}
/*.navbar .active {background-color: #00d1f2}
.navbar .nav-item:hover, .navbar .active:hover, .dropdown-item:hover {
    background-color: #00d1f2 !important
}
.navbar .active {
    border: 1px solid #00d1f2;
}*/
.dropdown-item:hover, .navbar .active:hover {
    color: #c2daf2 !important;
    background-color: #3887db
}

@media (min-width: 980px) {
    .navbar {padding: .5rem 1rem}
}

@media (max-width: 979px) {
    .navbar {padding: .25rem 1rem}
    .navbar .nav-item {width: 100%}
}
@media (max-width: 991.9px) {
    .navbar .nav-item {width: 100% !important}
}
/*End Navbar*/

/*h1 {
	color: #3282b8;
	margin-top: 40px;
    margin-bottom: 40px
}*/
.table {
    width: 90%;
    margin-left: 5%;
    margin-top: 30px
}

.bg-primary {
    background-color: #8ab6e6 !important;
}

thead {border-top: 2px solid #F2F2F2}

.fas.fa-trash {
    cursor: pointer;
    font-size: 20px;
}

.table td, .table th {
    vertical-align:middle ;
}

.table #tbshow th,.table #tbshow td {
    padding: .20rem;
}

button {
    border: none;
    outline: none;
    color: white;
    background: #3887db;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 10px
}

/* Start Scroll */
#goUp {
    position: fixed;
    bottom: -8px;
    right: 20px;
    font-size: 20px;
    display: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
#goUp:hover {
	box-shadow: 0 0 20px 0 #3282b8;
	transition-duration: 0.5s
}
@media (max-width:760px) {
    #goUp {
        bottom: -20px;
    }
}
/* End Scroll */